{% extends "::base.html.twig" %}

{% block body %}
<form>
    <h2>Chercher un ingrédient</h2>
    <div class="form-group">
        <input type="text" class="form-control" name="q" id="q">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Valider</button>
</form>
<br>
<div id="result" class="list-group col-12"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/search.js') }}"></script>
{% endblock %}